parameters:
    level: 8
    paths:
        - lib
    checkMissingIterableValueType: false
    ignoreErrors:
        -
            message: '#Property [a-zA-Z0-9\\]+::\$[a-zA-Z0-9]+ is never written, only read.#'
            path: lib/SaferpayJson/Response